# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
ENV/
env/

# Flask
instance/
*.db
*.sqlite3

# Variables de entorno
.env
*.env

# VS Code
.vscode/

# Tests / tooling
.pytest_cache/
.coverage*
htmlcov/
.tox/
.mypy_cache/

# Logs y cache
*.log
.cache/
.venv/
